.contact
{
    margin-right: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2px;
    margin-bottom: 15px;
    background: transparent;
    height: 90px;
    /* border: 1px solid #000; */
    width: 100px;
    font-family: 'Fredoka One', cursive;
}

.link
{
    /* color: #455a64; */
    color: #010102;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    -webkit-text-stroke: 0.3px white;
}
